
body{
    background: linear-gradient(to bottom right, #3C7A5B,#52A87D,#7AFABA,#CAFAE2);}

.barra{
  display:flex;
  justify-content: space-around;
background-color:#2A5741;
}

.foto{
    width: 141px;
    height: 234px;
}

.imagenes2{
    width: 345px;
    height: 478px;
}
.imagenes3{
    width: 345px;
    height: 478px;
}
.imagenes4{
    width: 345px;
    height: 478px;
}
.imagenes5{
    width: 345px;
    height: 478px;
}

.imagenes6{
    width: 345px;
    height: 478px;

}

.proyecto1, .proyecto2, .proyecto3, .proyecto4, .proyecto5 {

    display: none;
}

.barra{
color: white;
}